<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>JTIS</title>



 <!-- bootstrap core css -->
 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}"/>
 <!-- progress barstle -->
 <link rel="stylesheet" href="{{url_for('static', filename='css/css-circular-prog-bar.css')}}">
 <!-- fonts style -->
 <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
 <!-- font wesome stylesheet -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 <!-- Custom styles for this template -->
 <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
 <!-- responsive style -->
 <link href="{{url_for('static', filename='css/responsive.css')}}" rel="stylesheet" />




 <link rel="stylesheet" href="{{url_for('static', filename='css/css-circular-prog-bar.css')}}">


</head>

<body>
  <div class="top_container sub_pages">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{url_for('Index')}}">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
            <span>
              JTIS
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('Index')}}"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{{url_for('about')}}"> About </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">School History</a>
                      <a class="dropdown-item" href="#">Mission</a>
                      <a class="dropdown-item" href="#">Vision</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                  
               

                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>

              </ul>
              <div class="hero_btn-continer">
                <a href="" class="call_to-btn btn_white-border">
                  <span>
                    LOG IN
                  </span>
                  <img src="{{url_for('static', filename='images/login.png')}}" alt="">
                </a>
              </div>
            </div>
        </nav>
      </div>
    </header>

  </div>
  <!-- end header section -->

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <h2 class="main-heading ">
        SCHOOL HISTORY
      </h2>
      <p class="text-center">
        The lack of private schools in Jalajala and its neighboring towns and barrios became a big concern for Dr. Belina C. De Vega, a dentist by profession, and thus moved her to conceive the idea of building a school in Jalajala, Rizal. Along with her supportive lifetime partner, Enrico De Vega, the founder took the courage and the challenge to open a school at Linis, Sipsipin, Jalajala, Rizal. Named after their youngest daughter, Jiane Therese, the School was established and was operational in June 2000.

	With 35 pupils in its first year, it grew into 81 in its second year, 150 in its third year, 180 in the fourth year, and 244 in its fifth year.  The enrollment profile was encouraging enough, for growth and expansion. Parents, who were satisfied with the academic achievement and the Christian values formation received by their children, paved the way to open complete elementary and high school levels.
       
  	Complete elementary course permit was granted on SY 2002-2003, and on SY 2003-2004, the secondary course was opened and was given permit No. 157, s. 2004. Our Preschool, Grade School, and High School are now recognized by the government with the following Government Recognition K-125, s. 2003; E-095, s. 2003; and HS-047, s. 2005. Now Jiane Therese International School is accredited by the Bureau of Immigration to accept foreign students via, AAFS No. AFF-06-027.

Expanding and soaring even higher, Jiane Therese International School constructed a stage, a new computer room, additional classrooms, HE Room, a Science Laboratory, expanded its playground, a new canteen, and modern offices to accommodate more incoming enrollees from the different nearby barrios. The School has also established its flagship “Quality Education and Values Formation,” “A God and Family-Centered Institution,”. More parents were convinced that the School meant to provide each child only the best education and to mold each one to become a good Christian.

The School is non-sectarian; thus, no discrimination is made on the grounds of religion in the admission of students.

 SPED (Special Education/ Mainstreaming) for special children is also one of the features of the School students with special needs are mainstreamed 

The school is named after Jiane Therese, a special child herself, who passed away at the age of 3 on March 5, 2002.   In spite of the pain and loneliness of losing their youngest child, the De Vega couple did not stop from fulfilling their mission. Together with their two other children, Mej and Ciara, the inspiration to continue the task of educating young children, including the special ones, became the moving force of the family. Together with their supportive friends, relatives, co-administrators, faculty, and parents, JTIS continues to soar high. 
        Dr. Belina C. De Vega acknowledges the untiring and benevolent support of her father, Jesus Cubilla, for her school, and has appointed him the school President.  
Tatay Jesus as we fondly called as President passed away in August. 8, 2014 at the age of 85. He was succeeded by our Vice President Enrico De Vega. 
Indeed, Jiane Therese International School is a promising school and continues to do the noble task of promoting quality education and values formation. Also inspired by the school's core values – SIMPLICITY, HUMILITY, CHARITY, RESPECT, and STEWARDSHIP, -- JTIS continues to carry out its mission.


      </p>
      <div class="about_img-box ">
        <img src="images/kids.jpg" alt="" class="img-fluid w-100">
      </div>
      <!-- <div class="d-flex justify-content-center mt-5">
        <a href="" class="call_to-btn  ">

          <span>
            Read More
          </span>
          <img src="images/right-arrow.png" alt="">
        </a>
      </div> -->
    </div>
  </section>


  <!-- about section -->





  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
  <!-- progreesbar script -->

  </script>

</body>

</html>