<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>JTIS</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.css')}}"/>
  <!-- progress barstle -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/css-circular-prog-bar.css')}}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{url_for('static', filename='css/responsive.css')}}" rel="stylesheet" />




  <link rel="stylesheet" href="{{url_for('static', filename='css/css-circular-prog-bar.css')}}">


</head>

<body>
  <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{url_for('Index')}}">
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
            <span>
              JTIS
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('Index')}}"> Home <span class="sr-only">(current)</span></a>
                </li>
                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{url_for('history')}}">School History</a>
                      <a class="dropdown-item" href="{{url_for('mission')}}">Mission</a>
                      <a class="dropdown-item" href="{{url_for('vision')}}">Vision</a>
                      
                    </div>
                  </li>
                  
               

                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('contact')}}"">Contact Us</a>
                </li>

              </ul>
              <div class="hero_btn-continer">
                <a href="" class="call_to-btn btn_white-border">
                  <span>
                    LOG IN
                  </span>
                  <img src="{{url_for('static', filename='images/login.png')}}" alt="">
                </a>
              </div>
            </div>
        </nav>
      </div>
    </header>
    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h3>
            Welcome to 
            Jiane Therese
            International
          </h3>
          <h1>
            school
          </h1>
          <p>
            A Family and God Centered Institution
            Pursue Academic Excellence and Adheres
            to Values Formation
          </p>
          <div class="hero_btn-continer">
            <a href="{{url_for('enrollment_form')}}" class="call_to-btn btn_white-border">
              <span>
                Enroll Now
              </span>
              <img src="{{url_for('static', filename='images/right-arrow.png')}}" alt="">
            </a>
          </div>
        </div>
        <div class="hero_img-container">
          <div>
            <img src="{{url_for('static', filename='images/elem.png')}}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end header section -->

  <br><br>  <br><br>
  <br><br>
  
  <div class="container">
    <span>
      <h3>
        Jiane Therese International School Facilities
      </h3>
    </span>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis1.jpg')}}" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis2.jpg')}}" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis3.jpg')}}" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis4.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis5.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis6.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis7.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis8.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis9.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis10.jpg')}}">
        </div>
        <!-- <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis11.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis12.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis13.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis14.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis15.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis16.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis17.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis18.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis19.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis20.jpg')}}">
        </div> -->
        <!-- <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis21.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis22.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis23.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis24.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis25.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis26.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis27.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis28.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis29.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis30.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis31.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis32.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis33.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis34.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis35.jpg')}}" >
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis36.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis37.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis38.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis39.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis40.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis41.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis42.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis43.jpg')}}">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{url_for('static', filename='images/jtis44.jpg')}}">
        </div> -->
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  



  <!-- about section -->
  <br><br>
  <section class="about_section layout_padding">
    <div class="container">
      <h2 class="main-heading ">
        POLICIES ON ADMISSION
      </h2>
      <p class="text-center">
        Since this is a non-sectarian school, no discrimination is made on the ground of religion in the admission of pupils/students to Jiane Therese International School. Admission is granted with the definite understanding that the pupil/student and his/her parents or guardians agree with the standards and requirements of the school. 
        
        A. Classifications of Students
        Pupils/Students are classified with reference to their year of entry, age, and the year level that they have finished.
        Nursery/ Beginner - Pupils whose ages range from 3 to 5 years 
        old   by June, who is never gone to school.
        Kinder 1 - Pupils whose ages range from 4 to 5 years old by June and who finished Nursery/Day Care.
        Preparatory - Age qualification for kindergarten learners in public schools should be five (5) years old by June 1 of every school year (DepEd Order No. 16, s. 2015). 
        However, the school may consider learners entering Kindergarten who will turn five (5) years old by the end of August on the condition that the Philippine Early Childhood Development (ECD) Checklist must be administered to the learner to ensure that the learner can meet the expectations of the grade level. (Deped Order No. 47 s. 2016)
        Grade 1- Children who have completed DepEd-accredited Kindergarten programs are eligible for Grade 1. 
        Level 7- Pupils who have finished their elementary course and eligible for promotion to high school.
                  Old Students: Students who were enrolled and have finished the previous school year in Jiane Therese International School. 
        Transferee: Students who were enrolled in other institutions in the previous school year 
              </p>
      <div class="about_img-box ">
        <img src="images/kids.jpg" alt="" class="img-fluid w-100">
      </div>
      <div class="d-flex justify-content-center mt-5">
        <a href="{{url_for('history')}}" class="call_to-btn  ">

          <span>
            Read More
          </span>
          <img src="{{url_for('static', filename='images/right-arrow.png')}}" alt="">
        </a>
      </div>
    </div>
  </section>


  <!-- about section -->

  <!-- teacher section -->
 <!-- <section class="teacher_section layout_padding-bottom">
    <div class="container">
      <h2 class="main-heading ">
        Our Teachers
      </h2>
      <p class="text-center">
        Ipsum available, but the majority h
      </p>
      <div class="teacher_container layout_padding2">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="images/teacher-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Den Mark</h5>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="images/teacher-2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Leena jorj</h5>
            </div>

          </div>
          <div class="card">
            <img class="card-img-top" src="images/teacher-3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Magi Den</h5>

            </div>

          </div>

          <div class="card">
            <img class="card-img-top" src="images/teacher-4.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">jonson mark</h5>

            </div>

          </div>
        </div>
      </div>


      <div class="d-flex justify-content-center mt-3">
        <a href="" class="call_to-btn  ">

          <span>
            See More
          </span>
          <img src="images/right-arrow.png" alt="">
        </a>
      </div>
    </div>
  </section>  -->

  <!-- teacher section -->

  <!-- vehicle section -->
  <section class="vehicle_section layout_padding">
    <div class="container">
      <h2 class="main-heading ">
        Jiane Therese International School CORE VALUES

      </h2>
      <p class="text-center">
        We place God above all.<br>
        We are a Family Oriented Institution. <br>
        We value our students as our best asset. <br>
        We uphold values formation and moral decency. <br>
        We are driven by our passion for Academic
        Excellence. <br>
        We strive for the highest quality of work. <br>
        We pursue creativity and innovation.<br>

      </p>
      <!-- <div class="layout_padding-top">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="vehicle_img-box ">
                <img src="images/bus.png" alt="" class="img-fluid w-100">
              </div>
            </div>
            <div class="carousel-item">
              <div class="vehicle_img-box ">
                <img src="images/bus.png" alt="" class="img-fluid w-100">
              </div>
            </div>
            <div class="carousel-item">
              <div class="vehicle_img-box ">
                <img src="images/bus.png" alt="" class="img-fluid w-100">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> -->

    </div>
  </section>


  <!-- vehicle section -->
  <!-- client section -->
  <!-- <section class="client_section layout_padding">
    <div class="container">
      <h2 class="main-heading ">
        Our Students Feedback
      </h2>
      <p class="text-center">
        There are many variations of passages of Lorem Ipsum available, but the majority hThere are many variations of
        passages of Lorem Ipsum available, but the majority h
      </p>
      <div class="layout_padding2">
        <div class="client_container d-flex flex-column">
          <div class="client_detail d-flex align-items-center">
            <div class="client_img-box ">
              <img src="images/student.png" alt="">
            </div>
            <div class="client_detail-box">
              <h4>
                Veniam Quis
              </h4>
              <span>
                (exercitation)
              </span>
            </div>
          </div>
          <div class="client_text mt-4">
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum."


            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->




  <!-- client section -->

  <!-- contact section -->

  <!-- <section class="contact_section layout_padding-bottom">
    <div class="container">

      <h2 class="main-heading">
        Contact Now

      </h2>
      <p class="text-center">
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla

      </p>
      <div class="">
        <div class="contact_section-container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="contact-form">
                <form action="">
                  <div>
                    <input type="text" placeholder="Name">
                  </div>
                  <div>
                    <input type="text" placeholder="Phone Number">
                  </div>
                  <div>
                    <input type="email" placeholder="Email">
                  </div>
                  <div>
                    <input type="text" placeholder="Message" class="input_message">
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn_on-hover">
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section> -->


  <!-- end contact section -->

  <!-- admission section -->
  <section class="admission_section ">
    <div class="container-fluid position-relative">
      <div class="row h-100">
        <div id="map" class="h-100 w-100 ">
        </div>
        <div class="container">
          <div class="admission_container position-absolute">
            <div class="admission_img-box">
              <img src="images/kidss.jpg" alt="">
            </div>
            <div class="admission_detail">
              <h3>
                Apply for Admission
              </h3>
              <p class="mt-3 mb-4">
                
              </p>
              <div class="">
                <a href="" class="admission_btn btn_on-hover">
                  Read More
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






  <!-- admission section -->


  <!-- landing section -->
  <section class="landing_section layout_padding">
    <div class="container">
      <h2 class="main-heading">
       

      </h2>
      <h2 class="main-heading number_heading">
       

      </h2>
      <p class="landing_detail text-center">
    

      </p>
    </div>
  </section>

  <!-- end landing section -->




  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      
      Copyright &copy; 2023 All Rights Reserved By
      Jiane Therese International School</a>
    
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>

  <script>
    // This example adds a marker to indicate the position of Bondi Beach in Sydney,
    // Australia.
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {
          lat: 14.363101,
          lng: 121.330461
        },
      });

      var image = 'images/maps-and-flags.png';
      var beachMarker = new google.maps.Marker({
        position: {
          lat: 14.363101,
          lng: 121.330461
        },
        map: map,
        icon: image
      });
    }
  </script>
  <!-- google map js -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
  </script>
  <!-- end google map js -->
</body>

</html>